@media print {
  @page {
    size: A4 portrait;
    margin: 1px; /* Elimina márgenes predeterminados */
  }
  body {
    margin: 0;
    padding: 0;
  }
  .print-page-break {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
}